<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.mapper.AuthorMapper">
  
  	<!-- 작가 등록 -->
      <insert id="authorEnroll">
          insert into bsh_author(authorName, nationId, authorIntro) values(#{authorName}, #{nationId}, #{authorIntro} )
      </insert>
      
	<!--  작가 목록 -->
	<select id="authorGetList" resultType="com.bsh.model.AuthorVO">
		<![CDATA[
			select * from (
				select /*+INDEX_DESC(bsh_author SYS_C007640) */
					rownum as rn, authorId, authorName, nationId, regDate, updateDate
						from bsh_author )
						where (
		]]>
			<if test="keyword != null">
	                authorName like '%'||#{keyword}||'%' and
	        </if>
	    <![CDATA[        
	            rn between (#{pageNum} - 1) * #{amount} and #{pageNum}*#{amount} - 1 ) 
	    ]]>
	</select>
	
	<!-- 작가 수 -->
      <select id="authorGetTotal" resultType="int">
          select count(*) from bsh_author
          <if test="keyword != null">
             where authorName like '%' || #{keyword} || '%'
          </if>
      </select> 
      
    <!-- 작가 디테일 페이지 -->
  	<select id="authorGetDetail" resultType="com.bsh.model.AuthorVO">
  		select * from bsh_author where authorId = #{authorId}
  	</select>
  	
  	<!-- 작가 정보 수정 -->
  	<update id="authorModify">
  		update bsh_author set authorName=#{authorName}, nationId=#{nationId}, authorIntro=#{authorIntro}, updateDate=sysdate where authorId = #{authorId}
  	</update>
  	
  	
  	
  	
  	
  	
</mapper>